.advantage-list
    .advantage-list__btn
        span
    .advantage-list__bg
        .advantage-list__item!="<strong>Гарантия от 50 лет</strong> на материалы и 5 лет на монтаж"
        .advantage-list__item!="<strong>Замер, монтажный проект</strong> и еще 4 услуги бесплатно"
        .advantage-list__item!="<strong>Сметы точны</strong> до копейки"
        .advantage-list__item!="<strong>Поэтапная оплата,</strong> кредит или рассрочка"
        .advantage-list__item!="<strong>Наши крыши в каждом поселке</strong> и дачном сообществе региона"